{% extends 'fitclub/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.css" />
<script src="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/calendar/v2.1.3/toastui-calendar.min.css" />


<input type="date" id="dt" value="{{ date.0 }}-{{ date.1|add:1 }}-{{ date.2 }}" onchange="window.location.href = `/calendar/${this.value}/{{ view }}`">

{% if view == "month" %}
  <button type='button' class='btn btn-info btn-sm' onclick="window.location.href = `/calendar/{{ date.0 }}-{{ date.1|add:1 }}-{{ date.2 }}/week`">Неделя</button>
{% else %}
  <button type='button' class='btn btn-info btn-sm' onclick="window.location.href = `/calendar/{{ date.0 }}-{{ date.1|add:1 }}-{{ date.2 }}/month`">Месяц</button>
{% endif %}

<div id="calendar" style="height: 95vh;"></div>


<script>

  const Calendar = tui.Calendar;

  const container = document.getElementById('calendar');
  const options = {
    defaultView: 'week',
    usageStatistics: false,
    timezone: {
      zones: [
        {
          timezoneName: 'Europe/Moscow',
          displayLabel: 'Время',
        },
      ],
    },
    isReadOnly: true,
    calendars: [
      {
        id: 'cal1',
      },
    ],
  };

  
  const calendar = new Calendar(container, options);



  calendar.createEvents([
  
  {% for t in trenings %}
    {
      {% if t.trening_type == "group" %}

        id: 'event{{ t.pk }}',
        calendarId: 'cal1',
        title: '{{ t.group.name }}',
        start: '{{ t.day|date:"Y-m-d" }}T{{ t.start|time:"H:i" }}:00',
        end: '{{ t.day|date:"Y-m-d" }}T{{ t.end|time:"H:i" }}:00',
        state: null,
        location: '<a href="{% url 'group' t.group.pk %}"> Группа</a>',
        attendees: ['<a href="{% url 'user' t.trener.pk %}">{{ t.trener.last_name }} {{ t.trener.first_name|make_list|first }}.</a>'],
        body: `<a href="{% url 'trening' t.pk %}">Занятие</a>`
      
      {% else %}
      
        id: 'event{{ t.pk }}',
        calendarId: 'cal1',
        title: '{{ t.clients.all.0.surname }} {{ t.clients.all.0.name|make_list|first }}.',
        start: '{{ t.day|date:"Y-m-d" }}T{{ t.start|time:"H:i" }}:00',
        end: '{{ t.day|date:"Y-m-d" }}T{{ t.end|time:"H:i" }}:00',
        state: null,
        location: '<a href="{% url 'client' t.clients.all.0.pk %}"> Клиент</a>',
        attendees: ['<a href="{% url 'user' t.trener.pk %}">{{ t.trener.last_name }} {{ t.trener.first_name|make_list|first }}.</a>'],
        body: `<a href="{% url 'trening' t.pk %}">Занятие</a>`
      
      
      {% endif %}
    },
  {% endfor %}

  ]);

  calendar.setOptions({
    useDetailPopup: true,
    week: {
      taskView: false,
      eventView: ['time'],
      showNowIndicator: false,
      hourStart: 6,
      hourEnd: 22,
      startDayOfWeek: 1,
      dayNames: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Суб'],
    },
    month: {
      dayNames: ['Вс', 'Пн', 'Вт', 'Ср', 'Чт', 'Пт', 'Суб'],
      startDayOfWeek: 1,
    },
    template: {
      popupEdit() {
        return '<a href="{% url 'trenings' %}">Редактировать</a>';
      },
      popupDelete() {
        return '';
      },
      popupDetailBody({ body }) {
        return body;
      },
      weekDayName(model) {
        return `<p style="font-size: 21px">${model.date} ${model.dayName}</p>`;
      },
      timegridDisplayPrimaryTime({ time }) {
        tt = time.toLocaleString('en-US').split(' ')[4].split(':')
        return `${tt[0]}:${tt[1]}`;
      },
      timegridDisplayTime({ time }) {
        tt = time.toLocaleString('en-US').split(' ')[4].split(':')
        return `${tt[0]}:${tt[1]}`;
      },
      timegridNowIndicatorLabel({ time }) {
        tt = time.toLocaleString('en-US').split(' ')[4].split(':')
        return `${tt[0]}:${tt[1]}`;
      },
    },
  });


  calendar.changeView('{{ view }}');
  {% if date.0 != 'today' %}
    calendar.setDate(new Date({{ date.0 }}, {{ date.1 }}, {{ date.2 }}));
  {% endif %}

</script>
  

{% endblock %}