{% extends 'fitclub/base.html' %}
{% load static %}

{% block content %}

<button type="button" class=" float-right btn btn-lg btn-primary">Сохранить</button>
<br>
<br>
<br>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center h-100">
      <div class="col-auto d-flex ms-auto ms-md-0">
        <img src="{% static 'fitclub/img/user.png' %}" style="height: 5rem;
        width: 5rem;">
      </div>
      <h3 class="col-auto d-flex ms-auto ms-md-0 text-lg">
        {{user.name}} {{user.surname}}
      </h3>
      <h5 class="col-auto d-flex ms-auto ms-md-0">
        {% if user.phone %}
          {{user.phone}}
        {% endif %}
      </h5>
      <h5 class="col-auto d-flex ms-auto ms-md-0">
        {% if user.email %}
          {{user.email}}
        {% endif %}
      </h5>
    </div>

  </div>
</div>

<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Группы</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Занятия</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    
    {% for group in gruops %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="exampleRadios" id="rtrener" value="{{ trener.pk }}" {% if user.group.pk == group.pk %}checked{% endif %}>
      <label class="form-check-label" style="font-size: 24px;" for="rtrener">
      {{ group.name }}
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>  

{% endblock %}