{% extends 'fitclub/base.html' %}
{% block content %}
    <button type="button" class="btn btn-primary btn-sm float-right" onclick="window.location = {% url 'newclient' %};">Зарегестрировать</button>
    <br><br>
    <form action="get">
        <form>
            <input type="text" class="form-control" id="search-input" placeholder="Поиск" onkeyup="searchTable()">
        </form>
        <br>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Редактировать</th>
            </tr>
            </thead>
            <tbody>

            {% for user in clients %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.surname }}</td>
                <td><a href="{% url 'client' user.pk %}" class="btn-sm btn-primary" role="button">Редактировать</a></td>
            </tr>
            {% endfor %}
            
            </tbody>
        </table>
    </form>

    <script>
        function searchTable() {
          // Get the search query
          var input = document.getElementById("search-input");
          var filter = input.value.toUpperCase();
      
          // Get the table
          var table = document.getElementsByTagName("table")[0];
      
          // Get the table rows
          var tr = table.getElementsByTagName("tr");
      
          // Loop through the rows and hide those that don't match the search query
          for (var i = 0; i < tr.length; i++) {
            var td = tr[i].getElementsByTagName("td")[0];  // [0] is used to get the first cell in the row
            if (td) {
              if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }
          }
        }
      </script>

{% endblock %}