{% extends 'fitclub/base.html' %}
{% block content %}
    <form action="get">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" style="margin-bottom: 5px; margin-left: auto;" aria-expanded="false">
              Просмотр статистики
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="{% url 'prdohod' "day" day %}">За день</a>
              <a class="dropdown-item" href="{% url 'prdohod' "week" week %}">За неделю</a>
              <a class="dropdown-item" href="{% url 'prdohod' "month" month %}">За месяц</a>
            </div>
        </div>
        <br>

        <h4>Доход: {{ ins }}</h4>
        <h4>Расходы: {{ outs }}</h4>
        <h4>Прибыль: {{ prib }}</h4>
        <br>
        <h4>Расходы</h4>
        <table class="table">
            <thead>
            <tr>
                <th scope="col" class="col-2">Сумма</th>
                <th scope="col" class="col-8">Расход</th>
                <th scope="col" class="col-2">Редактировать</th>
            </tr>
            </thead>
            <tbody>

            <tr>
                <td>{{ zp }}</td>
                <td>Зарплаты тренеров</td>
                <td><a href="{% url 'selary' %}" class="btn-sm btn-primary" role="button">Редактировать</a></td>
            </tr>
            
            {% for spend in spends %}
            <tr>
                <td>{{ spend.value }}</td>
                <td>{{ spend.key }}</td>
                <td><a href="{% url 'editspend' spend.pk %}" class="btn-sm btn-primary" role="button">Редактировать</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
        <hr>
        <a href="{% url 'newspend' %}" class="btn btn-primary" role="button">Добавить расходы</a>
    </form>

{% endblock %}