{% extends 'fitclub/base.html' %}
{% load static %}
{% load poll_extras %}

{% block content %}

<style>
    input[type='checkbox'] { 
        transform: scale(1.3); 
        margin-top: 15px;
    }
</style>

<form method="post">
<button type="sybmit" class=" float-right btn btn-lg btn-primary">Сохранить</button>
<br>
<br>
<br>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center h-100">
      {% if tt == "massage" %}
        <h1>Массаж - {{ client.name }} {{ client.surname }}</h1>
      {% else %}
        {% if trening.trening_type == "group" %}
          <h1>Занитие группы {{ trening.group.name }}</h1>
        {% else %}
          <h1>Индивидуальное занятие {{ client.name }} {{ client.surname }}</h1>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Информация</a>
    {% if trening.trening_type == "group" %}
      <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Участники</a>
    {% endif %}
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <label for="clientname" style="font-size: 20px">Дата</label>
    <input required name="date" class="form-control form-control-lg" type="date" value="{{ trening.day|date:"Y-m-d" }}" id="date">
    <br>
    <label for="timestart" style="font-size: 20px; margin-right: 8px;">Врмея начала</label>
    <input required name="starttime" id="timestart" type="time" value="{{ trening.start|time:"H:i" }}" required style="margin-right: 100px; margin-bottom: 20px;"/>
    <label for="timeend" style="font-size: 20px; margin-right: 8px;">Врмея окончания</label>
    <input required name="endtime" id="timeend" type="time" value="{{ trening.end|time:"H:i" }}" class="margin-bottom: 20px" required/>
    
    {% if trening.trening_type == "personal" or tt == "massage" %}
      <br>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="progul" value="on" id="cgroup"  {% if trening.progul %} checked {% endif %}>
        <label class="form-check-label" style="font-size: 28px;" for="cgroup">
            Прогул
        </label>
      </div>
    {% endif %}

    <br>
    <label for="trener" style="font-size: 20px">Тренер</label>
    <select required name="trener" id="trener" class="form-control" style="font-size: 20px">

      <option disabled value> -- Выберите тренера -- </option>
      {% for t in treniers %}
          <option {% if trening.trener.pk == t.pk %} selected {% endif %} value="{{ t.pk }}">{{ t.first_name }} {{ t.last_name }}</option>
      {% endfor %}

    </select>
    
    <br>
    {% if not tt == "massage" %}
    <br>
    <label for="helper" style="font-size: 20px">Помощник тренера <div style="font-size: 12px">(не обязательно)</div></label>
    <select name="helper" id="helper" class="form-control" style="font-size: 20px">

        <option disabled {% if not trening.helper %} selected {% endif %} value> -- Выберите помощника тренера -- </option>
        <option value="none">-----</option>
        {% for t in treniers %}
            <option {% if trening.helper.pk == t.pk %} selected {% endif %} value="{{ t.pk }}">{{ t.first_name }} {{ t.last_name }}</option>
        {% endfor %}

    </select>
    
    {% endif %}
  </div>






  {% if trening.trening_type == "group" %}
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    


    <br>
    <p title="

Н - отсутствует
Б - болеет
О - отпуск/уехал
У - увожительная причина
+ - присутствует" style="font-size: 21px">🛈</p>
{% comment %}
	    <p>Н - отсутствует</p>
	    <p>Б - болеет</p>
	    <p>П - прогул</p>
	    <p>О - отпуск/уехал</p>
	    <p>У - увожительная причина</p>
	    <p>+ - присутствует</p>
{% endcomment %}
    <div id="clxx">

      {% for cl in clients %}
          <div class="form-check">
          <select name="clientgroup{{ cl.pk }}" id="cgroup" class="" style="font-size: 20px">

            <option {% if pr|gi:cl.pk == 0 %}selected{% endif %} value="0">Н</option>
            <option {% if pr|gi:cl.pk == 1 %}selected{% endif %} value="1">Б</option>
            <option {% if pr|gi:cl.pk == 2 %}selected{% endif %} value="2">О</option>
            <option {% if pr|gi:cl.pk == 3 %}selected{% endif %} value="3">У</option>
            <option {% if pr|gi:cl.pk == 4 %}selected{% endif %} value="4">+{{ pr.cl  }}</option>
            
          </select>

          <label class="form-check-labell" style="font-size: 28px;" for="cgroup">
              {{ cl.name }} {{ cl.surname }}
          </label>
          </div>
      {% endfor %}
    </div>
    <br>
    <button type="button" class="btn btn-secondary btn-sm" onclick="showAllClients()">Показать ещё</button>
    <br>
  <div id="allcl" hidden>
    
    <br>
    <div class="search-container">
      <input type="text" placeholder="Искать..." id="searchInput" onkeyup="searchClients()">
    </div>
    
    <div class="">
        {% for cl in allcl %}
            <div class="form-check" id="cl">
              <select name="clientgroup{{ cl.pk }}" id="cgroup" class="" style="font-size: 20px">

                {% comment %} {% if cl.pk in pr %} {% endcomment %}

                <option {% if pr|gi:cl.pk == 0 %}selected{% endif %} value="0">Н</option>
                <option {% if pr|gi:cl.pk == 1 %}selected{% endif %} value="1">Б</option>
                <option {% if pr|gi:cl.pk == 2 %}selected{% endif %} value="2">О</option>
                <option {% if pr|gi:cl.pk == 3 %}selected{% endif %} value="3">У</option>
                <option {% if pr|gi:cl.pk == 4 %}selected{% endif %} value="4">+</option>

                {% comment %} {% else %}

                <option selected value="0">Н</option>
                <option value="1">Б</option>
                <option value="2">О</option>
                <option value="3">У</option>
                <option value="4">+</option>
                
                {% endif %} {% endcomment %}

              </select>
              <label class="form-check-label" style="font-size: 28px;" for="cgroup">
                  {{ cl.name }} {{ cl.surname }}
              </label>
            </div>
        {% endfor %}
    </div>
  
    <script>
        function searchClients() {
            // Get the search input value
            var searchValue = document.getElementById("searchInput").value;
            var clients = document.getElementsByClassName("form-check-label");
            // Filter the clients based on the search value
            var filteredClients = Array.prototype.filter.call(clients, function(client) {
                return client.textContent.toLowerCase().indexOf(searchValue.toLowerCase()) !== -1;
            });
            // Hide all clients
            for (var i = 0; i < clients.length; i++) {
                clients[i].parentElement.style.display = "none";
            }
            // Show the filtered clients
            for (var i = 0; i < filteredClients.length; i++) {
                filteredClients[i].parentElement.style.display = "block";
            }
        }

        function showAllClients() {
          var allcl = document.getElementById("allcl");
          allcl.hidden = false;
        }
    </script>



  </div>
  {% endif %}

  {% if tt == "massage" %}
  <label for="mastype" style="font-size: 20px">Тип массажа</label>
  <select name="mastype" id="mastype" class="form-control" style="font-size: 20px">

      <option disabled value> -- Выберите тип массажа -- </option>
      {% for t in mt %}
          <option value="{{ t.pk }}" {% if smt.pk == t.pk %}selected{% endif %}>{{ t.title }}</option>
      {% endfor %}

  </select>
  {% endif %}
</div>
</form>

{% endblock %}