{% extends 'fitclub/base.html' %} {% load static %} {% block content %}

<style>
    input[type='radio'] { 
        transform: scale(1.3); 
        margin-top: 15px;
    }
</style>

<form method="post">
    <button type="submit" class="float-right btn btn-lg btn-primary">Сохранить</button>
    <br>
    <br>
    <br>

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center h-100">
                <h1 class="col-auto d-flex ms-auto ms-md-0 text-lg">
                    {{ group.name }}
                </h1>
                <a href="{% url 'newtrining' group.pk %}" class="btn btn-info"  style="margin-left: auto; margin-right:30px;" role="button">Новое занятие</a>
            </div>

        </div>
    </div>

    <br>

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Тренер</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Участники</a>
            <a class="nav-item nav-link" id="nav-tren-tab" data-toggle="tab" href="#nav-tren" role="tab" aria-controls="nav-tren" aria-selected="false">Участники</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Настройки</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <br> {% if not group.trener %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="new_trener" id="rtrener" value="none" checked>
                <label style="font-size: 28px" class="form-check-label" for="rtrener">
        Отсутствует
      </label>
            </div>
            {% else %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="new_trener" id="rtrener" value="none">
                <label style="font-size: 28px" class="form-check-label" for="rtrener">
        Отсутствует
      </label>
            </div>
            {% endif %} {% for trener in treners %}
            <div class="form-check">
                <input class="form-check-input" type="radio" name="new_trener" id="rtrener" value="{{ trener.pk }}" {% if group.trener.pk == trener.pk %}checked{% endif %}>
                <label style="font-size: 28px" class="form-check-label" for="rtrener">
        {{ trener.first_name }} {{ trener.last_name }}
      </label>
            </div>
            {% endfor %}

        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <br>
            <div class="list-group">
                {% for cl in clients %}
                <a href="{% url 'client' cl.pk %}" class="list-group-item list-group-item-action" style="font-size: 1.5em; margin-bottom: 5px;">{{ cl.name }} {{ cl.surname }}</a> {% endfor %}
            </div>

        </div>
        <div class="tab-pane fade" id="nav-tren" role="tabpanel" aria-labelledby="nav-tren-tab">
            <div class="list-group">
              <br>
              {% for tr in trenings %}
                <a href="{% url 'trening' tr.pk %}" class="list-group-item list-group-item-action" style="font-size: 1.3em; margin-bottom: 5px;">{{ tr.day|date:"D d M" }}: {{ tr.start|time:"H:i" }} - {{ tr.col }} чел.</a>
              {% endfor %}
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <br>
            <label for="groupname">Название группы</label>
            <input name="groupname" type="text" class="form-control form-control-lg" id="groupname" value="{{ group.name }}">
            <br>
            <a href="{% url 'weekplan' %}" class="btn btn-sm btn-info">Открыть расписание</a>
            <br>
            <br>
            {% for day in days %}
                <p style="font-size: 18px">{{ day.0 }}: {{day.1.start}} - {{ day.1.end }}
                    <button name="edittime" value="{{ day.1.pk }}" style="margin-left: 30px" type="sybmit" class="btn btn-sm btn-primary">Редактировать</button>
                </p>
            {% endfor %}
            <br>
            <button name="addtime" value="addtime" type="sybmit" class="btn btn-primary">Добавить новое время</button>
            
        </div>
    </div>
</form>

{% endblock %}