{% extends 'fitclub/base.html' %} {% block content %}
<br>


<hr>
<h2 id="-">Добавление сотрудников</h2>
<p>На главной странице в разделе &quot;Сотрудники&quot; нажмите на кнопку &quot;Добавить нового&quot;.</p>
<p>Заполните поля и нажмите &quot;Добавить&quot;.</p>
<p>Передайте сотруднику логин и пароль для входа в систему.</p>
<hr>
<h2 id="-">Редактирование информации о сотруднике</h2>
<p>На главной странице нажмите на раздел &quot;Сотрудники&quot;.</p>
<p>Выберите сотрудника, информацию о котором хотите изменить.</p>
<p>Перейдите в раздел &quot;Настройки&quot;.</p>
<p>Измените информацию и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Добавление нового ученика</h2>
<p>На главной странице в разделе &quot;Ученики&quot; нажмите на кнопку &quot;Добавить нового&quot;.</p>
<p>Заполните поля и нажмите &quot;Добавить&quot;(поля телефон и e-mail - не обязательные).</p>
<hr>
<h2 id="-">Редактирование информации о ученике</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Перейдите в раздел &quot;Настройки&quot;.</p>
<p>Измените информацию и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Создание новой группы</h2>
<p>На главной странице в разделе &quot;Группы&quot; нажмите на кнопку &quot;Добавить новую&quot;.</p>
<hr>
<h2 id="-">Редактирование информации о группе</h2>
<p>На главной странице нажмите на раздел &quot;Группы&quot;.</p>
<p>Выберите группу, информацию о которой хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Перейдите в раздел &quot;Настройки&quot;.</p>
<p>Измените информацию и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Редактирование расписания занятий группы</h2>
<p>На главной странице нажмите на раздел &quot;Группы&quot;.</p>
<p>Выберите группу, информацию о которой хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Перейдите в раздел &quot;Настройки&quot; и нажмите на кнопку &quot;Добавить новое время&quot;, чтобы добавить новое время занятий.</p>
<p>Или нажмите на кнопку &quot;Редактировать&quot;, чтобы изменить время занятия.</p>
<p>Чтобы просмотреть результат, нажмите на кнопку &quot;Открыть расписание&quot;.</p>
<hr>
<h2 id="-">Изменение/добавление тренера группы</h2>
<p>На главной странице нажмите на раздел &quot;Группы&quot;.</p>
<p>Выберите группу, информацию о которой хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Тренер&quot; выберите тренера из списка и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Добавить ученика в группу</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Группы&quot; выберите группу из списка и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Внесение оплаты</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Нажмите на кнопку &quot;Оплата&quot; и выберите что оплачивает ученик.</p>
<p>Заполните форму и нажмите &quot;Внести платёж&quot;.</p>
<hr>
<h2 id="-">Внести индивидуальное занятие</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Нажмите на кнопку &quot;Новое занятие&quot; и заполните форму.</p>
<p>Нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Внести групповое занятие</h2>
<p>На главной странице нажмите на раздел &quot;Группы&quot;.</p>
<p>Выберите группу, информацию о которой хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Нажмите на кнопку &quot;Новое занятие&quot; и заполните форму.</p>
<p>Перейдите в раздел &quot;Участники&quot; и выберите учеников, которые присутствовали на занятии.</p>
<p>Чтобы добавить учеников, не из этой группы, нажмите на кнопку &quot;Показать ещё&quot; и выберите учеников из списка.</p>
<p>Нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Редактирование занятия</h2>
<p>На странице группы или ученика перейдите в раздел &quot;Занятия&quot; и выберите занятие, информацию о котором хотите изменить.</p>
<p>Измените данные в форме и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Изменение абонементов ученика</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Инфо&quot; выберите абонемент, который хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Измените данные в форме и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Добавить новый тип массажа</h2>
<p>На главной странице нажмите на раздел &quot;Типы массажа&quot;.</p>
<p>Нажмите на кнопку &quot;Добавить&quot; и заполните форму.</p>
<p>Нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Редактировать тип массажа</h2>
<p>На главной странице нажмите на раздел &quot;Типы массажа&quot;.</p>
<p>Выберите тип массажа, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Измените данные в форме и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Внести новое занятие массажа</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Массаж&quot; нажмите на кнопку &quot;Новое занятие&quot; и заполните форму.</p>
<p>Нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Редактировать занятие массажа</h2>
<p>На главной странице нажмите на раздел &quot;Ученики&quot;.</p>
<p>Выберите ученика, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Массаж&quot; выберите занятие, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>Измените данные в форме и нажмите &quot;Сохранить&quot;. </p>
<hr>
<h2 id="-">Изменение зарплаты администратора</h2>
<p>На главной странице нажмите на раздел &quot;Сотрудники&quot;.</p>
<p>Выберите сотрудника, информацию о котором хотите изменить и нажмите на кнопку &quot;Редактировать&quot;.</p>
<p>В разделе &quot;Зарплата&quot; измените данные в форме и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Просмотр статистики зарплат</h2>
<p>В меню выберите пункт &quot;Зарплаты&quot;.</p>
<p>Укажите период и тип сотрудников, по которым хотите получить статистику.</p>
<hr>
<h2 id="-">Внести информацию о зарплате</h2>
<p>В меню выберите пункт &quot;Зарплаты&quot;.</p>
<p>Выберите сотрудника, которому хотите внести информацию о зарплате и нажмите на кнопку &quot;Новая выплата&quot;.</p>
<p>Заполните форму и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Просмотр статистики доходов и расходов за этот месяц</h2>
<p>На главной странице нажмите на раздел &quot;Статистика&quot;.</p>
<hr>
<h2 id="-">Добавить расходы или доходы</h2>
<p>На главной странице нажмите на раздел &quot;Статистика&quot;.</p>
<p>Нажмите на кнопку &quot;Добавить&quot; в разделе &quot;Доходы&quot; или &quot;Расходы&quot;.</p>
<p>Заполните форму и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Изменить расходы или доходы</h2>
<p>На главной странице нажмите на раздел &quot;Статистика&quot;.</p>
<p>Нажмите на кнопку &quot;Редактировать&quot; в разделе &quot;Доходы&quot; или &quot;Расходы&quot;.</p>
<p>Измените данные в форме и нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Просмотр статистики доходов и расходов за определенный период</h2>
<p>На главной странице нажмите на раздел &quot;Статистика&quot;.</p>
<p>Нажмите на кнопку &quot;Просмотр статистики&quot; и выберите период.</p>
<p>Сверху введите в поле период, за который хотите получить статистику.</p>
<hr>
<h2 id="-">Настройка стоимостей и зарплат</h2>
<p>На главной странице нажмите на раздел &quot;Настройка параметров&quot;.</p>
<p>Внеся изменения в поля, нажмите &quot;Сохранить&quot;.</p>
<hr>
<h2 id="-">Добавление нового зала</h2>
<p>Перейти в панель администрирования(самый низ главной страницы).</p>
<p>Слева, в колонке выбрать "Залы"</p>
<p>В правом верхнем углу кнопка "Добавить Зал"</p>
<p>Ввести название зала и нажать кнопку "Сохранить"</p>
<hr> {% endblock %}