{% extends 'fitclub/base.html' %}
{% block content %}
    <br>
    <br>

    <form method="post">
        <div class="form-group">
          <label for="groupname"><h3>Тип массажа</h3></label>
          <input name="title" required type="text" class="form-control form-control-lg" id="namefield" placeholder="Введите название" value="{{ tp.title }}">
          <br>
          <input name="prise" required type="number" min="0.01" step="0.01" class="form-control form-control-lg" id="namefield" placeholder="Введите стоимость" value="{{ tp.prise|stringformat:".2f" }}">
          <br>
          <input name="trener_sum" required type="number" min="0.01" step="0.01" class="form-control form-control-lg" id="namefield" placeholder="Введите сумму тренера" value="{{ tp.trener_sum|stringformat:".2f" }}">
          <br>
        </div>
        <button type="submit" class="btn-block btn-lg btn-primary">Добавить</button>
    </form>

{% endblock %}