{% extends 'fitclub/base.html' %}
{% block content %}
    <br>
    <br>

    <form method="post">
        <div class="form-group">
          <label for="groupname"><h3>Добавить сотрудника</h3></label>
          <input name="login" required type="text" class="form-control form-control-lg" id="namefield" placeholder="Введите логин">
          <br>
          <input name="name" required type="text" class="form-control form-control-lg" id="namefield" placeholder="Введите имя">
          <br>
          <input name="surname" required type="text" class="form-control form-control-lg" id="surnamefield" placeholder="Введите фамилию">
          <br>
          <input name="email" required type="email" class="form-control form-control-lg" id="emailfield" placeholder="Введите e-mail">
          <br>
          <select required name="role" id="trener" class="form-control" style="font-size: 20px">              
                <option selected disabled value> -- Выберите роль -- </option>
                <option value="admin">Администратор</option>
                <option value="trener">Тренер</option>
                <option value="masager">Массажист</option>
          </select>
          <br>
          <input required name="password" type="password" class="form-control form-control-lg" id="emailfield" placeholder="Введите пароль">
        </div>

        <button type="submit" class="btn-block btn-lg btn-primary">Добавить</button>
    </form>

{% endblock %}