{% extends 'fitclub/base.html' %}
{% block content %}

    <form action="get">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Группа</th>
                <th scope="col">Дата</th>
                <th scope="col">Время</th>
                <th scope="col">Кол. человек</th>
                <th scope="col">Тренер</th>
                <th scope="col">Редактировать</th>
            </tr>
            </thead>
            <tbody>

            {% for tr in trenings %}
            <tr>
                <td>{% if tr.trening_type == "group" %}{{ tr.group.name }}{% else %}Индивидуальное занятие{% endif %}</td>
                <td>{{ tr.day|date:"D d M" }}</td>
                <td>{{ tr.start|time:"H:i" }} - {{ tr.end|time:"H:i" }}</td>
                <td>{{ tr.col }}</td>
                <td>{{ tr.trener.last_name }} {{ tr.trener.first_name|make_list|first }}.</td>
                <td><a href="{% url 'trening' tr.pk %}" class="btn-sm btn-primary" role="button">Редактировать</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>

{% endblock %}