{% extends 'fitclub/base.html' %}
{% block content %}
<button type="button" class="btn btn-primary btn-sm float-right" onclick="window.location = {% url 'newuser' %};">Зарегестрировать</button>
<br><br>
    <form action="get">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Редактировать</th>
            </tr>
            </thead>
            <tbody>

            {% for user in users %}
            <tr>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td><a href="{% url 'user' user.pk %}" class="btn-sm btn-primary" role="button">Редактировать</a></td>
            </tr>
            {% endfor %}

            </tbody>
        </table>
    </form>

{% endblock %}