{% extends 'fitclub/base.html' %}
{% load static %}

{% block content %}
<form method="post">
<button type="sybmit" class=" float-right btn btn-lg btn-primary">Сохранить</button>
<br>
<br>
<br>

<div class="card">
  <div class="card-body">
    <div class="row align-items-center h-100">
      <div class="col-auto d-flex ms-auto ms-md-0">
        <img src="{% static 'fitclub/img/user.png' %}" style="height: 5rem;
        width: 5rem;">
      </div>
      <h3 class="col-auto d-flex ms-auto ms-md-0 text-lg" style="margin-top: 10px">
        {{ user.first_name }} {{ user.last_name }}
      </h3>
    </div>
  </div>
</div>
<br>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    {% if rl == "trener" or rl == "masager" %}
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Группы</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Занятия</a>
    {% endif %}
    <a class="nav-item nav-link" id="nav-zp-tab" data-toggle="tab" href="#nav-zp" role="tab" aria-controls="nav-zp" aria-selected="false">Зарплата</a>
    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Настройки</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
    <br>
    <div class="list-group">
        {% for g in groups %}
          <a href="{% url 'group' g.pk %}" class="list-group-item list-group-item-action" style="font-size: 1.5em; margin-bottom: 5px;">{{ g.name }}</a>
        {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
    <br>
    <div class="list-group">
      <br>
      {% for tr in trenings %}
        <a href="{% url 'trening' tr.pk %}" class="list-group-item list-group-item-action" style="font-size: 1.3em; margin-bottom: 5px;">{{ tr.day|date:"D d M" }}: {{ tr.start|time:"H:i" }} - {{ tr.col }} чел.</a>
      {% endfor %}
    </div>
  </div>
  <div class="tab-pane fade" id="nav-zp" role="tabpanel" aria-labelledby="nav-zp-tab">

    {% if rl == "trener" or rl == "masager" %}


      <label for="clientname" style="font-size: 20px">Месяц</label>
      <input required name="date" class="form-control form-control-lg" type="month" value="{{ ym }}" id="date" onchange="window.location.href = `/user/{{ user.pk }}/${this.value.split('-')[1]}/${this.value.split('-')[0]}/`">  


      <table class="table">
        <thead>
        <tr>
            <th scope="col" class="col-2">Дата</th>
            <th scope="col" class="col-2">Сумма</th>
            <th scope="col" class="col-8">Занятие</th>
        </tr>
        </thead>
        <tbody>

        {% for s in sums %}
        <tr>
            <td>{{ s.2|date:"D d M" }}</td>
            <td>{{ s.0 }}₽</td>
            <td>{{ s.1 }}</td>
        </tr>
        {% endfor %}

        </tbody>
      </table>
      <h5>Итог: {{ sm }}₽</h5>
    {% endif %}


    {% if rl == "admin" %}
    
      <br>
      <label for="inputType" style="font-size: 20px">Тип зарплаты</label>
      <select required id="inputType" class="form-control form-control-lg" name="selarytype" onchange="changeType()">
        <option {% if not smv %} selected {% endif %} value="none"> ---- </option>
        <option {% if smv.type == "percent" %} selected {% endif %} value="percent">Процент</option>
        <option {% if smv.type == "sum" %} selected {% endif %} value="sum">Фиксированная</option>
      </select>
      
      <br>
      <input name="selary" min="1" step="0.01" type="number" class="form-control form-control-lg" id="selary" placeholder="Значение" value="{% if smv.type %}{{ smv.value|stringformat:".2f" }}{% endif %}">
    
    {% endif %}


  </div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
    <br>
    <label for="clientname">Имя</label>
    <input name="clientname" type="text" class="form-control form-control-lg" id="clientname" value="{{ user.first_name }}">
    <br>
    <label for="clientsurname">Фамилия</label>
    <input name="clientsurname" type="text" class="form-control form-control-lg" id="clientsurname" value="{{ user.last_name }}">
    <br>
    <label for="clientemail">E-mail</label>
    <input name="clientemail" type="text" class="form-control form-control-lg" id="clientemail" value="{{ user.email }}">
    <br>
  </div>
</div>
</form>


<script>

  // on change input type
  function changeType() {
    var type = document.getElementById("inputType").value;
    var pricefield = document.getElementById("selary");
    if (type == "percent") {
      pricefield.setAttribute("min", "0");
      pricefield.setAttribute("max", "100");
      // make price field required
      pricefield.setAttribute("required", "true");
    } else if (type == "sum") {
      pricefield.setAttribute("step", "1");
      pricefield.setAttribute("min", "1");
      pricefield.setAttribute("max", "10000000");
      // make price field required
      pricefield.setAttribute("required", "true");
    } else if (type == "none") {
      // make price field not required
      pricefield.removeAttribute("required");
    }
  }

</script>

{% endblock %}